{% extends "base/base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Oblako Group | WEB3D</title>

    <link rel="stylesheet" type="text/css" href="{% static 'project/unity3d/tank/TemplateData/style.css' %}">
    <script src="{% static 'project/unity3d/tank/TemplateData/UnityProgress.js' %}"></script>  
    <script src="{% static 'project/unity3d/tank/Build/UnityLoader.js' %}"></script>  

    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "{% static 'project/unity3d/tank/Build/build_03_webgl.json' %}", {onProgress: UnityProgress});
    </script>
  </head>
  <body>
    <h1 class="display-7">Симулятор танкиста</h1>

    <div class="webgl-content">
      <div id="gameContainer" style="width: 960px; height: 600px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">WEB3D</div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
