<!-- <a class="blue_link" href="file:///C:/Users/user/Desktop/rusal_test/test2.html?color=2">Синий</a> -->
<!-- <a class="blue_link" href="/html/test2.html?color=2">Синий</a> -->
<!DOCTYPE html>
<html>
<head>
	<title>RUSAL</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/js.js"></script>
	<script src="js/mode_prac.js"></script>
	<script src="js/task_3_03.js"></script>
</head>
<body>

	<div id="container">
		<div id="header">
			<div class="row_1">
				<div class="row align-items-center">
					<div class="col-auto">
						<a href="" id="logo"></a>
					</div>
					<div class="col-6">
						<div id="header_panel">
							<div id="header_panel_row1">
								<div class="row null align-items-center">
									<div class="col-auto">
										<i class="ic ic_zip"></i>
									</div>
									<div class="col-auto">
										<i class="ic ic_alarm"></i>
									</div>
									<div class="col-auto">
										<div class="inline-left-8 font-11">2/21/2018 2:36:24 PM</div>
									</div>
									<div class="col-auto offset-2 font-11">Дегазатор Открытый элемент</div>
								</div>
							</div>
							<div id="header_panel_row2">
								<div class="row null align-items-center">
									<div class="col-auto">
										<div class="inset_">
											<i class="ic ic_status-ok"></i>
										</div>
									</div>
									<div class="col-3">
										<div class="inset_"></div>
									</div>
									<div class="col-2">
										<div class="inset_ font-11">
											<i class="ic ic_alarm"></i>
											<span>1</span>
										</div>
									</div>
									<div class="col-2">
										<div class="inset_ font-11">
											<i class="ic ic_check"></i>
											<span>0</span>
										</div>
									</div>
									<div class="col-2">
										<div class="inset_ font-11">
											<i class="ic ic_alarm_mini"></i>
											<span>0</span>
										</div>
									</div>
									<div class="col">&nbsp;</div>
									<div class="col-auto">
										<div class="outer_">
											<i class="ic"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col alignright font-18 font-white">
						<div id="cur_time"></div>
						<div id="cur_date"></div>
					</div>
				</div>
			</div>
			<div class="row_2">
				<div class="row">
					<div class="col-8">
						<div class="font-0">
							<button type="button" class="btn">
								<i class="ic ic_menu_01"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_02"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_03"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_04"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_05"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_06"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_07"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_08"></i>
							</button>
						</div>
						<div class="font-0 top-16">
							<button type="button" class="btn">
								<i class="ic ic_menu_09"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_10"></i>
							</button>
						</div>
					</div>
					<div class="col-4 inline-left-46">
						<div class="row min">
							<div class="col-auto font-0">
								<button type="button" class="btn">
									<i class="ic ic_menu_11"></i>
								</button>
							</div>
							<div class="col">
								<div class="panel_1_1">
									<div class="row">
										<div class="col-auto font-14 font-bold">Время литья</div>
										<div class="col alignright font-18">00:00:51</div>
									</div>
								</div>
								<div class="panel_1_2 aligncenter font-18">ТЕХНОЛОГ</div>
							</div>
						</div>
						<div class="row min top-16">
							<div class="col-auto font-0">
								<button type="button" class="btn">
									<i class="ic ic_menu_12"></i>
								</button>
							</div>
							<div class="col">
								<div class="panel_2_1 font-18 aligncenter">ПРОСТОЙ</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="content" class="min_offset">
			<div class="row min">
				<div class="col-9">
					<div class="body-image-2">
						<div class="body-image-inner">
							<div class="row middle">
								<div class="col-9">
									<div class="panel_border">
										<div class="font-bold font-24 aligncenter">Платформа позицион-е</div>

										<div class="panel_white top-16">Нет готовности</div>

										<div class="row middle align-items-center top-16">
											<div class="col-auto">
												<button type="button" class="btn btn-white">
													<i class="ic ic_body_13"></i>
												</button>
											</div>
											<div class="col">
												<div class="panel">
													<div class="row min align-items-center">
														<div class="col-auto font-18">PV</div>
														<div class="col">
															<div class="input aligncenter font-14">
																<span>160</span>
																<span class="measure">mm/min</span>
															</div>
														</div>
													</div>
													<div class="alignright font-12 font-height top-2">
														<span class="inline-right-32">SP</span>
														<span>-67</span>
													</div>
												</div>
											</div>
										</div>

										<div class="row middle aligncenter top-16">
											<div class="col-auto">
												<button type="button" class="btn btn-white">
													<i class="ic ic_body_14"></i>
												</button>
											</div>
											<div class="col">
												<button type="button" class="btn btn-white">
													<i class="ic ic_body_15"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-3 aligncenter">
									<div></div>
									<div class="top-16">
										<button type="button" class="btn btn-white">
											<i class="ic ic_body_17"></i>
										</button>
									</div>
									<div class="top-16">
										<button type="button" class="btn btn-white">
											<i class="ic ic_body_16"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="panel_border">
						<div class="font-bold font-24 aligncenter">Контроль лотка</div>
						<div class="row top-16 aligncenter">
							<div class="col">
								<button type="button" class="btn btn-white btn-min">
									<i class="ic ic_body_25"></i>
								</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn-white btn-min">
									<i class="ic ic_body_25_2"></i>
								</button>
							</div>
						</div>

						<div class="row top-16 aligncenter">
							<div class="col">
								<button type="button" class="btn btn-white">
									<i class="ic ic_body_23"></i>
								</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn-white">
									<i class="ic ic_body_24"></i>
								</button>
							</div>
						</div>

						<div class="row top-16 aligncenter">
							<div class="col">
								<button type="button" class="btn btn-white">
									<i class="ic ic_body_21"></i>
								</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn-white">
									<i class="ic ic_body_22"></i>
								</button>
							</div>
						</div>
					</div>

					<div class="panel_border">
						<div class="font-bold font-24 aligncenter">Выравнивание</div>
						<div class="row top-16 aligncenter">
							<div class="col">
								<button type="button" class="btn btn-white">
									<i class="ic ic_body_20"></i>
								</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn-white">
									<i class="ic ic_body_14"></i>
								</button>
							</div>
						</div>

						<div class="row top-16 aligncenter">
							<div class="col">
								<button type="button" class="btn btn-white">
									<i class="ic ic_body_18"></i>
								</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn-white">
									<i class="ic ic_body_19"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal">
		<div class="modal_window">
			<div class="modal_window_header">&nbsp;</div>
			<div class="modal_window_content aligncenter">
				<div>
					<button type="button" class="btn btn-white channel_up">
						<i class="ic ic_window_1"></i>
					</button>
				</div>
				<div class="top-24">
					<button type="button" class="btn btn-white channel_down">
						<i class="ic ic_window_2"></i>
					</button>
				</div>
				<div class="top-24">
					<button type="button" class="btn btn-min btn-white close_modal">
						<i class="ic ic_window_3"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>