<!DOCTYPE html>
<html>
<head>
	<title>RUSAL</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/js.js"></script>
	<script src="js/mode_prac.js"></script>
	<script src="js/task_4_01.js"></script>
</head>
<body>
	<div id="container">
		<div id="header">
			<div class="row_1">
				<div class="row align-items-center">
					<div class="col-auto">
						<a href="" id="logo"></a>
					</div>
					<div class="col-6">
						<div id="header_panel">
							<div id="header_panel_row1">
								<div class="row null align-items-center">
									<div class="col-auto">
										<i class="ic ic_zip"></i>
									</div>
									<div class="col-auto">
										<i class="ic ic_alarm"></i>
									</div>
									<div class="col-auto">
										<div class="inline-left-8 font-11">2/21/2018 2:36:24 PM</div>
									</div>
									<div class="col-auto offset-2 font-11">Дегазатор Открытый элемент</div>
								</div>
							</div>
							<div id="header_panel_row2">
								<div class="row null align-items-center">
									<div class="col-auto">
										<div class="inset_">
											<i class="ic ic_status-ok"></i>
										</div>
									</div>
									<div class="col-3">
										<div class="inset_"></div>
									</div>
									<div class="col-2">
										<div class="inset_ font-11">
											<i class="ic ic_alarm"></i>
											<span>1</span>
										</div>
									</div>
									<div class="col-2">
										<div class="inset_ font-11">
											<i class="ic ic_check"></i>
											<span>0</span>
										</div>
									</div>
									<div class="col-2">
										<div class="inset_ font-11">
											<i class="ic ic_alarm_mini"></i>
											<span>0</span>
										</div>
									</div>
									<div class="col">&nbsp;</div>
									<div class="col-auto">
										<div class="outer_">
											<i class="ic"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col alignright font-18 font-white">
						<div id="cur_time"></div>
						<div id="cur_date"></div>
					</div>
				</div>
			</div>
			<div class="row_2">
				<div class="row">
					<div class="col-8">
						<div class="font-0">
							<button type="button" class="btn">
								<i class="ic ic_menu_01"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_02"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_03"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_04"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_05"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_06"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_07"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_08"></i>
							</button>
						</div>
						<div class="font-0 top-16">
							<button type="button" class="btn">
								<i class="ic ic_menu_09"></i>
							</button>
							<button type="button" class="btn">
								<i class="ic ic_menu_10"></i>
							</button>
						</div>
					</div>
					<div class="col-4 inline-left-46">
						<div class="row min">
							<div class="col-auto font-0">
								<button type="button" class="btn">
									<i class="ic ic_menu_11"></i>
								</button>
							</div>
							<div class="col">
								<div class="panel_1_1">
									<div class="row">
										<div class="col-auto font-14 font-bold">Время литья</div>
										<div class="col alignright font-18">00:00:51</div>
									</div>
								</div>
								<div class="panel_1_2 aligncenter font-18">ТЕХНОЛОГ</div>
							</div>
						</div>
						<div class="row min top-16">
							<div class="col-auto font-0">
								<button type="button" class="btn">
									<i class="ic ic_menu_12"></i>
								</button>
							</div>
							<div class="col">
								<div class="panel_2_1 font-18 aligncenter">ПРОСТОЙ</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="row">
				<div class="col">
					<div class="row middle">
						<div class="col-auto">
							<button type="button" class="btn">
								<i class="ic ic_body_1"></i>
							</button>
						</div>
						<div class="col">
							<div class="panel">
								<div class="row min align-items-center">
									<div class="col-auto font-18">PV</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>39</span>
											<span class="measure">mm</span>
										</div>
									</div>
								</div>
							</div>
							<div class="panel top-8">
								<div class="row min align-items-center">
									<div class="col-auto font-18">PV</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>93</span>
											<span class="measure">mm</span>
										</div>
									</div>
								</div>
								<div class="alignright font-12 font-height top-2">
									<span class="inline-right-32">SP</span>
									<span>690</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row middle top-42">
						<div class="col-auto">
							<button type="button" class="btn">
								<i class="ic ic_body_2"></i>
							</button>
						</div>
						<div class="col">
							<div class="panel">
								<div class="row min align-items-center">
									<div class="col-auto font-18">PV</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>719</span>
											<span class="measure">C</span>
										</div>
									</div>
								</div>
								<div class="alignright font-12 font-height top-2">
									<span class="inline-right-16">Hi</span>
									<span class="inline-right-16">760</span>
									<span class="inline-right-16">Lo</span>
									<span>710</span>
								</div>
							</div>
							<div class="panel top-8">
								<div class="row min align-items-center">
									<div class="col-auto font-18">CV</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>0</span>
											<span class="measure">%</span>
										</div>
									</div>
								</div>
								<div class="row min align-items-center">
									<div class="col-auto font-18 top-4">PV</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>0</span>
											<span class="measure">%</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row middle align-items-center top-42">
						<div class="col-auto">
							<button type="button" class="btn">
								<i class="ic ic_body_3"></i>
							</button>
						</div>
						<div class="col">
							<div class="panel">
								<div class="row min align-items-center">
									<div class="col-auto font-18">PV</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>0</span>
											<span class="measure">cm/min</span>
										</div>
									</div>
								</div>
								<div class="row min align-items-center">
									<div class="col-auto font-18">PV</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>0</span>
											<span class="measure">cm/min</span>
										</div>
									</div>
								</div>
								<div class="alignright font-12 font-height top-2">
									<span class="inline-right-32">SP</span>
									<span>690</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row middle align-items-center top-42">
						<div class="col-auto">
							<button type="button" class="btn">
								<i class="ic ic_body_4"></i>
							</button>
						</div>
						<div class="col">
							<div class="panel">
								<div class="row min align-items-center">
									<div class="col-auto font-18">PV</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>750</span>
											<span class="measure">C</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row middle align-items-center top-42">
						<div class="col-auto">
							<button type="button" class="btn">
								<i class="ic ic_body_5"></i>
							</button>
						</div>
						<div class="col">
							<div class="panel">
								<div class="row min align-items-center">
									<div class="col-auto font-18">PV</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>800</span>
											<span class="measure">C</span>
										</div>
									</div>
								</div>
								<div class="alignright font-12 font-height top-2">
									<span class="inline-right-32">SP</span>
									<span>800</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-5">
					<div class="row">
						<div class="col-8 offset-2">
							<div class="row middle align-items-center">
								<div class="col-auto">
									<button type="button" class="btn btn-blue">
										<i class="ic ic_body_29"></i>
									</button>
								</div>
								<div class="col">
									<div class="panel">
										<div class="row min align-items-center">
											<div class="col-auto font-18">PV</div>
											<div class="col">
												<div class="input aligncenter font-14">
													<span>160</span>
													<span class="measure">mm/min</span>
												</div>
											</div>
										</div>
										<div class="row min align-items-center top-2">
											<div class="col-auto font-18">PV</div>
											<div class="col">
												<div class="input aligncenter font-14">
													<span>160</span>
													<span class="measure">mm/min</span>
												</div>
											</div>
										</div>
										<div class="row min align-items-center top-2">
											<div class="col-auto font-18">PV</div>
											<div class="col">
												<div class="input aligncenter font-14">
													<span>160</span>
													<span class="measure">mm/min</span>
												</div>
											</div>
										</div>
										<div class="row min align-items-center top-2">
											<div class="col-auto font-18">PV</div>
											<div class="col">
												<div class="input aligncenter font-14">
													<span>160</span>
													<span class="measure">mm/min</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="top-148 body-image-1">
						<div class="row">
							<div class="col-5 aligncenter">
								<button type="button" class="btn">
									<i class="ic ic_body_6"></i>
								</button>
							</div>
							<div class="col-2"></div>
							<div class="col-5 aligncenter">
								<button type="button" class="btn">
									<i class="ic ic_body_7"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row middle">
						<div class="col">
							<div class="panel">
								<div class="row min align-items-center">
									<div class="col-auto font-18">PV</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>0</span>
											<span class="measure">mm/min</span>
										</div>
									</div>
								</div>
								<div class="alignright font-12 font-height top-2">
									<span class="inline-right-32">SP</span>
									<span>30</span>
								</div>
							</div>
							<div class="panel top-8">
								<div class="row min align-items-center">
									<div class="col-auto font-18">PV</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>0</span>
											<span class="measure">mm/min</span>
										</div>
									</div>
								</div>
								<div class="alignright font-12 font-height top-2">
									<span class="inline-right-32">SP</span>
									<span>6000</span>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<button type="button" class="btn">
								<i class="ic ic_body_12"></i>
							</button>
						</div>
					</div>
					<div class="row middle top-42">
						<div class="col">
						</div>
						<div class="col-auto">
							<button type="button" class="btn">
								<i class="ic ic_body_11"></i>
							</button>
						</div>
					</div>

					<div class="row middle top-42">
						<div class="col">
							<div class="panel">
								<div class="row min align-items-center">
									<div class="col-auto font-18">SP</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>1</span>
											<span class="measure">pul/cyc</span>
										</div>
									</div>
								</div>
							</div>
							<div class="panel top-8">
								<div class="row min align-items-center">
									<div class="col-auto font-18">SP</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>20</span>
											<span class="measure">sec</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<button type="button" class="btn">
								<i class="ic ic_body_10"></i>
							</button>
						</div>
					</div>

					<div class="row middle align-items-center top-42">
						<div class="col">
							<div class="panel">
								<div class="row min align-items-center">
									<div class="col-auto font-18">PV</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>0</span>
											<span class="measure">m<sup>3</sup>/hr</span>
										</div>
									</div>
								</div>
								<div class="alignright font-12 font-height top-2">
									<span class="inline-right-32">SP</span>
									<span>52</span>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<button type="button" class="btn">
								<i class="ic ic_body_9"></i>
							</button>
						</div>
					</div>

					<div class="row middle align-items-center top-42">
						<div class="col">
							<div class="panel">
								<div class="row min align-items-center">
									<div class="col-auto font-18">PV</div>
									<div class="col">
										<div class="input aligncenter font-14">
											<span>4812</span>
											<span class="measure">mm</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<button type="button" class="btn">
								<i class="ic ic_body_8"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>