{% load static %}


<!-- <div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">О нас за 30 сек. <span class="text-muted"></span></h2>
    <p class="lead"></p>
  </div>
  <div class="col-md-5 order-md-1">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/62vMHMv4JoI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div> -->


<div id="halfimage" class="row featurette">
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-6 p-5">


<!-- 
    <h2 class="featurette-heading">Мы делаем игры.<span class="text-muted"> Серьезные игры.</span></h2>
    <p class="lead">Люди в них играют и учатся работать.</p> -->

 <!--    <h2 class="featurette-heading">Обучающие симуляторы.<span class="text-muted"> Люди в них играют и учатся работать.</span></h2>
    <p class="lead">Делаем симуляторы, чтобы поднять образование на новый уровень. Быстрое и качественное обучение. Выше производительность и ниже аварийность на работе.</p>
 -->
    <!-- <h2 class="featurette-heading">Что такое "симуляторы"?<br><span class="text-muted"> Это серьезные компьютерные игры. Сотрудники в них играют и учатся работать.</span></h2><br> -->
    <h2 class="featurette-heading">Что такое "симуляторы"?<br><span class="text-muted"></span></h2><br>

    <p class="lead">Это серьезные компьютерные игры. Сотрудники в них играют и учатся работать.</p>
    <p class="lead">Летчик учится управлять вертолетом сначала с помощью симуляторов, а затем в условиях реального полета.</p>
    <p class="lead">Также машинисту мостового крана безопаснее начинать реальную работу после виртуальной подготовки.</p>
    <p class="lead">Делаем симуляторы для большого разнообразия профессий: водитель погрузчика, литейщик, электролизник ...</p>
    <!-- <p class="lead">Также машинисту мостового крана безопаснее приходить в цех подготовленным</p> -->
    <!-- <p class="lead">Симуляторы будут полезны и во многих других профессиях: электролизник, литейщик, водитель погрузчика и т. д.</p> -->




  </div>
  <!-- <div class="col-md-1"></div> -->


  <div class="col-md-6">

    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'base/images/img_01.png' %}" style="display: block;margin: 0 auto;max-width:100%;max-height:500px;">

    <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
  </div>
</div>


