
<div id="pricing" class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <!-- <h1 class="display-4">Pricing</h1> -->
  <!-- <h1 class="display-4">Цены</h1> -->
  <h1 class="display-4">Услуги</h1>
  <!-- <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p> -->
  <p class="lead">Экономьте время преподавателей и старших коллег.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <!-- <h4 class="my-0 font-weight-normal">Free</h4> -->
        <h4 class="my-0 font-weight-normal">Консультация</h4>
      </div>
      <div class="card-body">
        <!-- <h1 class="card-title pricing-card-title">0 руб <small class="text-muted">/ mo</small></h1> -->
        <!-- <h1 class="card-title pricing-card-title">0 руб</h1> -->
        <ul class="list-unstyled mt-3 mb-4">
          <!-- <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li> -->

          <li>Свяжемся с Вами</li>
          <li>Наш специалист приедет</li>
          <li>Покажет наши продукты</li>
          <li>Ответит на вопросы</li>
        </ul>
        <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button> -->
        <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary">Отправить заявку</button> -->
        <a class="btn btn-lg btn-block btn-outline-primary" href="mailto: coursimatech@gmail.com?subject=Consult">Обсудить</a>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <!-- <h4 class="my-0 font-weight-normal">Pro</h4> -->
        <h4 class="my-0 font-weight-normal">Обучение сотрудников</h4>
      </div>
      <div class="card-body">
        <!-- <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1> -->
        <!-- <h1 class="card-title pricing-card-title"><small class="text-muted">от</small> ₽1000 <small class="text-muted">/ мес</small></h1> -->
        <!-- <h1 class="card-title pricing-card-title"><small class="text-muted">Оплата</small> только за каждого<small class="text-muted"> обученного сотрудника</small></h1> -->
        <ul class="list-unstyled mt-3 mb-4">
  <!--         <li>20 users included</li>
          <li>10 GB of storage</li>
          <li>Priority email support</li>
          <li>Help center access</li> -->

          <li>Сделаем учебный курс для Вас</li>
          <li>Разместим его на нашем сайте</li>
          <li>Сможете дать ссылку сотруднику</li>
          <li>И он пройдет курс</li>
          <li>Вам на email придет оценка</li>


<!-- 
          <li>Механическое оборудование</li>
          <li>Готовый симулятор</li>
          <li>Обучение популярным профессиям</li>
          <li>Позволяет лучше понять технологию</li> -->
          <!-- <li>Наш мастер приедет и всё настроит</li> -->

        </ul>
        <!-- <button type="button" class="btn btn-lg btn-block btn-primary">Отправить заявку</button> -->
        <a class="btn btn-lg btn-block btn-primary" href="mailto: coursimatech@gmail.com?subject=Education">Обсудить</a>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <!-- <h4 class="my-0 font-weight-normal">Enterprise</h4> -->
        <h4 class="my-0 font-weight-normal">Индивидуальный проект</h4>
      </div>
      <div class="card-body">
        <!-- <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1> -->
        <!-- <h1 class="card-title pricing-card-title"><small class="text-muted">от</small> ₽100000</h1> -->
        <!-- <h1 class="card-title pricing-card-title">цена договорная</h1> -->
        <ul class="list-unstyled mt-3 mb-4">


          <li>Изучим рабочие инструкции</li>
          <li>Снимем на видео процесс работы</li>
          <li>Сделаем проект, учитывающий особенности компании</li>
          <li>Сможете разместить его на своих ПК или сайте</li>





<!--           <li>Изучение работы компании</li>
          <li>Рекомендации по организации обучения</li>
          <li>Учитывание особенностей компании</li>
          <li>Высокая точность работы</li>
          <li>Круглосуточная поддержка</li> -->
        </ul>
        <!-- <button type="button" class="btn btn-lg btn-block btn-primary">Отправить заявку</button> -->
        <a class="btn btn-lg btn-block btn-primary" href="mailto: coursimatech@gmail.com?subject=Project">Обсудить</a>
      </div>
    </div>
  </div>

  <!-- <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">© 2017-2018</small>
      </div>
      <div class="col-6 col-md">
        <h5>Продукты</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://play.google.com/store/apps/details?id=com.HelpingAnimalsGames.ChickenCrane3D&hl=en">Симулятор машиниста мостового крана</a></li>
          <li><a class="text-muted" href="#">Симулятор водителя погрузчика</a></li>
          <li><a class="text-muted" href="#">Симулятор электролизника</a></li>
          <li><a class="text-muted" href="#">Симулятор литейщика</a></li>
          <li><a class="text-muted" href="#">Симулятор танкиста</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Официальные страницы</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Вконтакте</a></li>
          <li><a class="text-muted" href="#">Facebook</a></li>
          <li><a class="text-muted" href="#">YouTube</a></li>
          <li><a class="text-muted" href="#">Twitter</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>О нас</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Команда</a></li>
          <li><a class="text-muted" href="#">Контакты</a></li>
          <li><a class="text-muted" href="#">Конфиденциальность</a></li>
          <li><a class="text-muted" href="#">Условия</a></li>
        </ul>
      </div>
    </div>
  </footer>
 -->
</div>